// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@import '../../node_modules/@braid/vue-formulate/themes/snow/snow.scss';
